<div id="container">

  <mat-form-field appearance="fill">
    <mat-label>Select GitHub repositories</mat-label>
    <mat-select (selectionChange)="handleChange($event)" [multiple]="true">
      <mat-option *ngFor="let key of allKeys" [value]="key">{{key}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-button-toggle-group name="view" [(ngModel)]="currentMode" (change)="modeChange($event)">
    <mat-button-toggle value="count">Total views</mat-button-toggle>
    <mat-button-toggle value="uniques">Unique views</mat-button-toggle>
  </mat-button-toggle-group>

  <div style="display: block;">
    <mat-progress-spinner
      class="spinner"
      [mode]="'indeterminate'"
      *ngIf="!initFinished"
    >
    </mat-progress-spinner>
    <canvas *ngIf="initFinished" baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [chartType]="'line'"
            [options]="chartOptions"
    ></canvas>
  </div>

</div>
