#container, .spinner {
  position: absolute;
}

#container {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.spinner {
  left: 45%;
  top: 40%;
}

::ng-deep .mat-select-panel {
  max-height: 80vh !important;
}
